@keyframes toastSlide {
  0% {
    transform: translate(-50%, -20px);
    opacity: 0;
  }
  20% {
    transform: translate(-50%, 0);
    opacity: 1;
  }
  80% {
    transform: translate(-50%, 0);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -20px);
    opacity: 0;
  }
}

.animate-toastSlide {
  animation: toastSlide 1.5s ease forwards;
}
